<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @watcher.email %></h1>
    <p>
      We are emailing you because,
      the domain <%= @watcher.domain %> has had the following changes:<br>
      <% @mssg.each do |mssg| %>
      <ul>
      <li><%= mssg%></li>
      </ul>
      <%end%>
    </p>
  </body>
</html>
