<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.username%></h1>
    <p>
      Your account has been suspended by site admin. 
      Please contact Peter at peter.john.henggeler@gmail.com if you have any questions.
    </p>
  </body>
</html>