
<div class="login-page">
  <div class="form">
    <h3>Create Free Account</h3>
<%= render 'form', author: @author %>
</div>
</div>



<script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>

<%= link_to 'Back', authors_path %>
