<h1>Facebook</h1>

<div class="form">
<div>
<form onsubmit="tmpFunction(document.getElementById('firstname').value, document.getElementById('employer').value,
									document.getElementById('femployer').value,document.getElementById('town').value, document.getElementById('ftown').value,
									 document.getElementById('school').value, document.getElementById('liked').value)">
  Name:<br>
  <input type="text" name="firstname" id="firstname"><br>
  Currently Works:<br>
  <input type="text" name="employer" id="employer"><br>
  Previously Worked:<br>
	<input type="text" name="femployer" id="femployer"><br>
	Currently Lives:<br>
	<input type="text" name="town" id="town"><br>
	Previously Lived:<br>
	<input type="text" name="ftown" id="ftown"><br>
	School:<br>
	<input type="text" name="school" id="school"><br>
	Has Liked:<br>
	<input type="text" name="liked" id="liked"><br>
  <input type="submit" value="Search">
</form>
</div>
</div>
