<h1>Facebook</h1>

<div>
<form onsubmit="tmpFunction(document.getElementById('firstname').value, document.getElementById('employer').value,
									document.getElementById('femployer').value,document.getElementById('town').value, document.getElementById('ftown').value,
									 document.getElementById('school').value, document.getElementById('liked').value)">
  Name:<br>
  <input type="text" name="firstname" id="firstname"><br>
  Currently Works:<br>
  <input type="text" name="employer" id="employer"><br>
  Previously Worked:<br>
	<input type="text" name="femployer" id="femployer"><br>
	Currently Lives:<br>
	<input type="text" name="town" id="town"><br>
	Previously Lived:<br>
	<input type="text" name="ftown" id="ftown"><br>
	School:<br>
	<input type="text" name="school" id="school"><br>
	Has Liked:<br>
	<input type="text" name="liked" id="liked"><br>
  <input type="submit" value="Search">
</form>
</div>

<script>

function tmpFunction(name, work, fwork, town, ftown, school, liked) {
  var site = "https://www.facebook.com/search/str/";
  var x = 0;
  if (name && name.length > 0){
  	var names = name.split(" ");
		site = site+names[0];
		for (i =1; i<names.length; i++){
			site = site+"%20"+names[i];
		}
		site = site+"/users-named/intersect";
		x = 1;
  }
  if (work && work.length > 0){
		var works = work.split(" ");
		if (!x){
			site = site+works[0]
		}else{
		site = site+"/str/"+works[0];
		}
		for (i =1; i<works.length; i++){
			site = site+"%20"+works[i];
		}
		site = site+"/pages-named/employees/present/intersect";
		x = 1;
  }
   if (fwork && fwork.length > 0){
		var fworks = fwork.split(" ");
		if(!x){
			site = site+fworks[0];
		}else{
		site = site+"/str/"+fworks[0];
		}
		for (i =1; i<fworks.length; i++){
			site = site+"%20"+fworks[i];
		}
		site = site+"/pages-named/employees/past/intersect";
		x=1;
  }
   if (town && town.length > 0){
		var towns = town.split(" ");
		if(!x){
			site = site+towns[0];
		}else{
		site = site+"/str/"+towns[0];
		}
		for (i =1; i<towns.length; i++){
			site = site+"%20"+towns[i];
		}
		site = site+"/pages-named/residents/present/intersect";
		x=1;
  }
  if (ftown && ftown.length > 0){
		var ftowns = ftown.split(" ");
		if(!x){
			site = site+ftowns[0];
		}else{
		site = site+"/str/"+ftowns[0];
		}
		for (i =1; i<ftowns.length; i++){
			site = site+"%20"+ftowns[i];
		}
		site = site+"/pages-named/residents/past/intersect";
		x=1;
  }
  if (school && school.length > 0){

		var schools = school.split(" ");
		 if(!x){
  			site = site +schools[0];
  		}else{
  			site = site+"/str/"+schools[0];
  		}
		for (i =1; i<schools.length; i++){
			site = site+"%20"+schools[i];
		}
		site = site+"/pages-named/students/intersect";
		x=1;
  }
    if (liked && liked.length > 0){
		var likeds = liked.split(" ");
		 if(!x){
  			site = site +likeds[0];
  		}else{
  			site = site+"/str/"+likeds[0];
  		}
		for (i =1; i<likeds.length; i++){
			site = site+"%20"+likeds[i];
		}
		site = site+"/pages-named/likers/intersect";
		x=1;
  }
	window.open(site,'_blank');
}

</script>

<h3>Menu</h3>
<%= link_to 'See All Domains', controller: 'domains' %>
<%= link_to 'Monitor Domain', new_watcher_path %>