

<div><%= link_to 'Adsense Search', new_domain_path, class: "button"%> <%= link_to 'Domain Monitoring', new_watcher_path, class: "button"%> <%= link_to 'Facebook Search', new_domain_path, class: "button"%></div> 