

<div><%= link_to 'Facebook Search', facebook_domains_path, class: "button"%> <%= link_to 'Analytics Search', new_domain_path, class: "button"%> <%= link_to 'Web Monitoring', new_watcher_path, class: "button"%></div> 