<p id="notice"><%= notice %></p>


<%= link_to 'New Domain', new_domain_path %> <br>

<%= @domains.count %> domains


<button id="hide">Hide</button>
<button id="show">Show</button>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uacode</th>
      <th>Pub ID</th>
      <th>User</th>
      <th>Has Monitor?</th>
      <th> </th>
      <%= render "index" %>
      <th colspan="3"></th>
    </tr>
  </thead>



</table>


<br>



