<p id="notice"><%= notice %></p>

<div class = "left">
<h3><%= Domain.by_user.count %> Domains Detected </h3>
</div>

<div class = "right">
<%= link_to 'New Domain', new_domain_path, class: "button" %> 
</div>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uacode</th>
      <th>Pub ID</th>
      <th>User</th>
      <th>Has Monitor?</th>
      <th> </th>
      <th> </th>
      <%= render "index" %>
      <th colspan="7"></th>
    </tr>
  </thead>
</table>

