
<p id="notice"><%= notice %></p>


<div class="form">
<%= form_for :domain, url: domains_path do |f| %>
  <p>
    <h2>Search for Related Domains</h2>
    <% f.label :name%><br>
    <%= f.text_field :name, required: true, placeholder: "example.com" %>
  </p>

  <p>
    <button name='button' type='submit'>Submit</button>
  </p>
</div>
</div>
<% end %>
